@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



.header {
  padding: 50px 0 45px;
  width: 1800px;
  margin: 0 auto;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;

  & p {
    padding-left: 15px;
    color: $accent;
    font-size: 36px;
    line-height: 58px;
    @extend %rubik-500;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item+.menu__list-item {
    padding-left: 30px;
  }

  &__list-link {
    font-size: 15px;
    line-height: 12px;
    color: $accent;
    @extend %rubik-400;
  }
}

ul.menu__list {
  padding-left: 150px;
}




.user-nav {
  display: flex;
  gap: 25px;

  &__link {
    position: relative;
    margin: 0 auto;
  }

  &__num {
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #fff;
    top: -5px;
    right: -6px;
    font-size: 10px;
    color: #000;
    text-align: center;
    line-height: 11px;
    @extend %dmsans-400;

  }

  &__both {
    display: flex;
    align-items: center;
    width: 178px;
    height: 52px;
    background-color: $bgc;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  &__1 {
    display: flex;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #edf1f4;

  }

  &__3 {
    border-left: 1px solid #fde7d3;
    padding-left: 40px;
  }

  &__4 {
    display: flex;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #a3bbc8;
  }

}








.footer-top {
  border-bottom: 1px solid #dae4e9;
  display: flex;
  padding-bottom: 75px;

  &__item {}

  &__contact {
    width: 290px;
    margin-right: 110px;
  }

  &__nav {
    width: 270px;
    margin-right: 100px;
  }

  &__form {
    max-width: 300px
  }

  &__logo {
    margin-bottom: 28px;
  }

  &__title {
    margin-bottom: 35px;
    color: #1f2044;
    font-size: 16px;
    line-height: 21px;
    @extend %dmsans-700;
    padding-top: 24px;

  }

  &__adress,
  &__email,
  &__phone {
    margin-bottom: 10px;
    display: block;

  }

  &__link {
    margin-bottom: 4px;
    display: block;
  }

  &__text {
    color: $text;
    @extend %rubik-500;
    line-height: 24px;
    margin-bottom: 31px;
  }

  &__form-input {
    background-color: #fef7f0;
    max-width: 170px;
    width: 100%;
    border: none;
    padding: 10px;
    @extend %dmsans-400;

  }

  .footer-top__form-input::placeholder {
    font-size: 12px;
    @extend %dmsans-400;
    color: #234969;
  }

  &__form-btn {
    border: none;
    @extend %btn;
    padding: 16px;
    margin-left: -4px;
    cursor: pointer;
  }
}

.footer-bottom {
  padding: 20px 0 20px;
  display: flex;
  justify-content: space-between;

  &__copy {
    color: $text;
  }

  &__nav {
    display: flex;
    gap: 20px;
  }


  &__link {
    border-left: 1px solid #7b7b7b;
    padding-left: 16px;
  }

  &__link-first {
    border: none;
  }


}

.top {
  background-color: #edf1f4;
  padding: 35px 0;
  text-align: center;
}



.top-slider {
  padding-top: 220px;
  background-color: $bgc;
  background-image: url(../images/slider/bgs.png);
  background-repeat: no-repeat;
  background-size: inherit;
  background-position-x: 81%;
  background-position-y: 42%;


  &__item {
    display: flex !important;
    justify-content: space-between;

  }

  &__title {
    color: #243f4d;
    font-size: 72px;
    line-height: 70px;
    @extend %rubik-500;
    max-width: 415px;
    padding-bottom: 15px;
  }

  &__text {
    color: #436372;
    font-size: 16px;
    max-width: 320px;
    margin-bottom: 35px;
    @extend %rubik-400;
  }

  &__link {
    display: block;
    width: 200px;
    @extend %btn;

    position: relative;

    &::after {
      content: '→';
      position: absolute;
      right: 10%;
      top: 38%;
      font-size: 27px;

    }

  }

  &__img {
    padding-top: 52px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    padding: 210px 0 45px;
    gap: 10px;

    li {
      button {
        font-size: 12px;
        color: #243f4d;
        @extend %rubik-500;
        background-color: #fde3cc;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        opacity: 1;

      }

      &.slick-active {
        button {
          background-color: #fff;
        }

      }
    }
  }
}

.top-bottom {
  &__items {
    display: flex;
    justify-content: space-between;
    background-color: #fef7f0;
    align-items: center;
  }

  &__item {
    padding: 30px 180px 30px 220px;
    border-left: 1px solid #e8e4df;

  }




  &__title {
    font-size: 18px;
    line-height: 40px;
    @extend %dmsans-700;
    position: relative;

  }

  &__box-support::before {
    content: '';
    background-image: url('../images/icons/support.png');
    width: 60px;
    height: 60px;
    position: absolute;
    background-repeat: no-repeat;
    top: 15px;
    left: -80px;
  }

  &__box-delivery::before {
    content: '';
    background-image: url('../images/icons/delivery.png');
    width: 90px;
    height: 60px;
    position: absolute;
    background-repeat: no-repeat;
    top: 20px;
    left: -75px;
  }

  &__box-payment::before {
    content: '';
    background-image: url('../images/icons/payment.png');
    width: 90px;
    height: 80px;
    position: absolute;
    background-repeat: no-repeat;
    top: 20px;
    left: -75px;
  }

  &__text {
    @extend %dmsans-400;
    max-width: 200px
  }

}

.products {
  &__inner {
    padding: 115px 0 180px;
  }

  &__filter-btn {
    text-align: center;
  }

  &__items {
    display: grid;
    min-height: 800px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;

  }

  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
  }

  &__title {
    text-align: center;
    margin-bottom: 5px;
    padding-top: 265px;
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 20px;
    color: #243f4d;
  }

  &__price {
    text-align: center;
    @extend %dmsans-700;
    color: #a3bbc8
  }

}

.mixitup-control-active {
  color: #000;
}

.buy {
  position: absolute;
  bottom: 178px;
  right: 42px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: translateY(1200%);
  transition: all .3s;


  &__product {
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;


    &:hover {
      background-color: #a3bbc8;

      path {
        fill: #fff;
      }
    }
  }


}

.products__item:hover {
  .buy {
    transform: translateY(0);
  }
}




.light {
  padding: 50px 0 45px;
  width: 1800px;
  margin: 0 auto;
  padding-bottom: 100px;

  &__items {
    display: flex;
    justify-content: space-around;
    position: relative;

  }

  &__img {
    position: absolute;

  }

  &__img-left {
    top: -20%;
    left: 7%;
  }

  &__img-right {
    top: -20%;
    right: 30%;
  }

  &__item {
    display: flex;
    background-color: #feefe2;
    max-width: 870px;


  }

  &__content {
    padding: 100px 125px 100px 380px;
  }

  &__title {
    font-size: 26px;
    line-height: 32px;
    @extend %dmsans-700;
    color: $accent;
    margin-bottom: 30px;
  }

  &__text {
    color: $accent;
    font-size: 16px;
    line-height: 30px;
    @extend %rubik-400;
    margin-bottom: 65px;
  }

  &__link {
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    padding: 25px 85px 20px 25px;
    border: 1px solid #b3b7b5;
    border-radius: 10px;
    position: relative;
    @extend %rubik-500;
  }

  &__link::after {
    content: "→";
    position: absolute;
    right: 10%;
    top: 38%;
    font-size: 27px;
  }
}

.design {
  padding-bottom: 100px;

  &__filter-btn {
    text-align: center;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px 30px;
  }

  &__item {
    height: 270px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__title {
    padding: 45px 35px 0;
    @extend %dmsans-700;
    font-size: 20px;
    color: #191919;
    width: 245px;
  }

  &__text {
    padding: 20px 35px 0;
    color: #a3bbc8;
    @extend %dmsans-700;

  }

}

.video-popup {
  // background-image: url('../images/bg-video.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 120px;

  &__inner {
    height: 500px;
    max-width: 1880px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}



.blog {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

  }

  &__title {
    font-size: 36px;
    line-height: 65px;
    text-align: center;
  }

  &__view {
    font-size: 16px;
    @extend %dmsans-700;
    color: #262626;
    position: relative;
    padding-right: 25px;

    &::after {
      position: absolute;
      content: '';
      width: 6px;
      height: 11px;
      right: 0;
      top: 9px;
      background-image: url('../images/icons/view-arrow.svg');
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__item {}

  &__itemlink {}

  &__item-box {
    padding-left: 20px;
    position: relative;
    max-width: 370px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 5px;
  }

  &__item-title,
  &__item-info {
    width: 320px;
  }


  &__box-news {
    background-color: #a3bbc8;
    display: inline-block;
    width: 110px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    top: -15px;
  }

  &__item-news {
    margin: 0 auto;
    color: #fff;
  }

  &__item-title {
    padding-top: 50px;
    @extend %dmsans-500;
    font-size: 18px;
    margin-bottom: 15px;
  }

  &__item-info {
    padding: 20px 5px 30px;
    border-top: 1px solid #e0e0e0;

  }

  &__item-info,
  &__item-author {
    display: flex;
    gap: 15px;
    font-size: 12px;
    line-height: 30px;
    @extend %rubik-400;
    color: #262626;
  }

}

.partners {
  height: 440px;
  background-color: #fef7f0;
  margin-top: -220px;

  &__items {
    height: 440px;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  &__link img {
    padding-bottom: 90px;
  }

}

.partners-modal {
  background-color: #fef7f0;
  margin: 60px 0 70px;

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    padding: 80px 0 90px;
  }
}

.modal {
  padding: 115px 0 120px;
  max-width: 475px;
  margin: 0 auto;

  &__form {}

  &__label {
    color: #436372;
    @extend %rubik-400;
    display: block;
    margin-bottom: 30px;
  }

  &__input {
    display: block;
    width: 100%;
    height: 60px;
    border: 1px solid #e8e5e5;
    padding: 0 10px;
    margin-top: 10px;
  }

  &__btn {
    border: none;
    background-color: #a3bbc8;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    cursor: pointer;
    margin-bottom: 35px;
  }

  &__checkbox {
    margin-left: 185px;
    color: inherit;
  }

  &__links {
    display: block;
    text-align: center;
    padding-top: 35px;
    border-top: 1px solid #e8e5e5;
    margin-bottom: 20px;

  }

  &__problem {
    color: #436372;
    @extend %rubik-400;
  }

  &__link {
    display: block;
    text-align: center;
    border: 2px solid #a3bbc8;
    color: #243f4d;
    @extend %rubik-500;
    padding: 15px 0 15px;

  }
}


.terms {
  padding: 120px 0 60px 0;
  color: $accent;
  font-size: 16px;
  line-height: 30px;
  @extend %rubik-400;

  &__title {
    font-size: 24px;
    line-height: 40px;
    @extend %rubik-500;
    padding-bottom: 10px;
  }

  &__list {
    margin-bottom: 75px;
  }

  &__item {
    list-style: decimal-leading-zero;
    margin-left: 30px;
    padding-bottom: 35px;


  }

  &__text {
    margin-bottom: 75px;
  }
}

.about {
  padding: 120px 0;
  color: $accent;
  @extend %rubik-400;

  &__image {
    width: 570px;
  }

  &__inner {
    display: flex;
    gap: 30px;
  }

  &__content {}

  &__content-top {
    display: flex;
    padding: 50px 0 50px;
    gap: 30px;
    align-items: center;
  }

  &__content-number {
    font-size: 140px;
    color: #a3bbc8;
    @extend %rubik-700;
  }

  &__content-item {
    line-height: 30px;
  }

  &__content-title {
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 32px;
    margin-bottom: 50px;
  }

  &__content-text {
    max-width: 555px;
    margin-bottom: 65px;
  }

  &__content-info {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    border-top: 2px solid #e6eaf0;
    padding-left: 60px;
  }

  &__content-items {
    border-right: 1px solid #e6eaf0;
    padding-right: 35px;
    position: relative;
  }

  &__icon-left::before {
    position: absolute;
    content: '';
    background-image: url(../images/icons/about-icon1.svg);
    background-repeat: no-repeat;
    top: 15%;
    left: -50px;
    width: 40px;
    height: 40px;

  }

  &__icon-center::before {
    position: absolute;
    content: '';
    background-image: url(../images/icons/about-icon2.svg);
    background-repeat: no-repeat;
    top: 15%;
    left: -50px;
    width: 40px;
    height: 40px;

  }

  &__icon-right::before {
    position: absolute;
    content: '';
    background-image: url(../images/icons/about-icon3.svg);
    background-repeat: no-repeat;
    top: 15%;
    left: -50px;
    width: 40px;
    height: 40px;

  }

  &__content-itemstitle {
    font-size: 36px;
    line-height: 38px;
    @extend %dmsans-700;
  }

}

.content-border {
  border: none;
}

.information {
  background-color: #fcd7b6;
  margin-bottom: 120px;
  @extend %dmsans-700;

  &__img {
    margin: 0 auto;
    padding-bottom: 15px;
  }

  &__inner {
    padding: 85px 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__item-title {
    font-size: 36px;
    line-height: 32px;
    padding-bottom: 10px;
  }

  &__item-text {
    font-size: 18px;
    line-height: 32px;
  }
}




.team {
  padding-bottom: 115px;

  &__inner {
    display: flex;
    gap: 110px;
  }

  &__title {
    @extend %dmsans-700;
    color: $accent;
    font-size: 36px;
    line-height: 32px;
    padding-bottom: 34px;
  }

  &__text {
    @extend %rubik-400;
    color: $accent;
    line-height: 30px;
    padding-bottom: 40px;
  }

  &__button {
    background-color: #a3bbc8;
    color: #fff;
    width: 175px;
    height: 50px;
    display: block;
    padding-left: 20px;
    font-size: 15px;
    line-height: 50px;
    border-radius: 10px;
    position: relative;

    &::after {
      position: absolute;
      content: '→';
      right: 20px;
      top: -2px;
      font-size: 20px
    }
  }

  &__info {
    max-width: 300px;

  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 770px;
    grid-gap: 100px 30px;

  }

  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 320px;
    background-color: #fff;
    padding: 30px 20px 30px 30px;
    margin-top: 275px;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
  }

  &__links {
    display: flex;
    gap: 8px;
  }
}


.shop {
  padding: 115px 0;

  &__inner {
    display: flex;
  }

  &__filters {
    margin-right: 30px;
  }
}

.filter {
  color: $accent;
  @extend %rubik-400;
  width: 270px;

  &__title {
    @extend %dmsans-700;
    font-size: 18px;
    color: $accent;
    position: relative;
    margin-bottom: 15px;
    text-transform: uppercase;

    &::after {
      position: absolute;
      content: '';
      left: 120px;
      top: 11px;
      width: 38px;
      height: 2px;
      background-image: url('../images/icons/shop-title.svg');
    }
  }
}

.filter-category {
  margin-bottom: 30px;

  &__input {
    @extend %hidden-checkbox;

    &:checked+.filter-category__checkbox {
      border-radius: 5px;
      background-color: #edf1f4;
    }
  }

  &__arrow {
    background-image: url('../images/icons/shop-arrow.svg');
    width: 5px;
    height: 10px;
    margin-top: 7px;
    margin-left: -12px;
  }

  &__checkbox {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
}

.filter-price {

  &__title {
    margin-bottom: 25px;

    &::after {
      left: 67px;
    }
  }

  &__label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
  }
}





.irs--flat .irs-line {
  top: 16px;
  height: 2px;
  background-color: #c2d2db;
  border-radius: 4px;
}

.irs--flat .irs-bar {
  top: 16px;
  height: 4px;
  background-color: #a3bbc8;
}

.irs--flat .irs-handle {
  top: 10px;
  width: 15px;
  height: 15px;
  background-color: #a3bbc8;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs-from,
.irs-to,
.irs-single {
  display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}


.filter-brand {
  margin-bottom: 65px;

  &__title {
    margin-bottom: 15px;

    &::after {
      left: 78px;
    }
  }

  &__input {
    @extend %hidden-checkbox;

    &:checked+.filter-brand__checkbox {
      border-radius: 5px;
      background-color: #edf1f4;

      .filter-brand__numb {
        color: #243f4d;
      }

    }
  }

  &__checkbox {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 15px 15px;


  }

  &__numb {
    color: #b3b3b3;

  }
}


.filter-product {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;

  &__title {
    margin-bottom: 30px;

    &::after {
      left: 186px;
    }
  }

  &__imgage {
    width: 70px;
    height: 70px;
    border: 2px solid #f2f2f2;
    display: flex;
    align-items: center;
  }

  &__img {
    margin: 0 auto;
  }

  &__name {
    font-size: 14px;
    color: #000;
    @extend %rubik-400;
    padding-bottom: 5px;
  }

  &__star {
    margin-left: -6px;
  }

  &__text {
    font-size: 15px;
    color: #000;
    padding-top: 5px;
  }
}


.shop-content {
  margin-top: 10px;


  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding-bottom: 100px;
  }

  &__item {
    width: 270px;
    height: 380px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 10px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center 50px;
    position: relative;

  }

  &__img {
    margin: 0 auto;
  }

  &__icons {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 380px;
    left: 50px;
    opacity: 0;
    transition: all .3s;

    &:hover {
      opacity: 1;
    }
  }


  &__link {
    margin: 0 auto;
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;

    &:hover {
      background-color: #a3bbc8;

      path {
        fill: #fff;
      }
    }
  }


  &__title {
    padding-top: 300px;
    padding-bottom: 5px;
    @extend %dmsans-400;
    color: $accent;
  }

  &__text {
    @extend %dmsans-700;
    color: #a3bbc8;
  }

}


.pagination {
  text-align: center;

  &:last-child {
    margin-right: 0;
  }

  &__list {
    padding: 20px 22px;
    border: 1px solid $accent;
    margin-right: 15px;
    @extend %rubik-400;
    color: $accent;
  }

  &__list--active {
    color: #fff;
    background-color: #a3bbc8;
    border: none;
  }

}


.shop-contentlist {
  &__item {
    display: flex;
    margin-top: 10px;
    gap: 55px;
    margin-bottom: 40px;
  }

  &__images {
    width: 370px;
    height: 500px;
    border: 2px solid #f2f2f2;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__product {
    padding-top: 90px;
  }

  &__title {
    font-size: 40px;
    line-height: 26px;
    @extend %rubik-400;
    color: #333333;
    margin-bottom: 25px;
  }
&__star{
  margin-bottom: 35px;
}
  &__num {
    font-size: 30px;
    color: #333333;
    @extend %rubik-400;
    margin-bottom: 40px;
  }

  &__text {
    @extend %rubik-400;
    color: $accent;
    font-size: 16px;
    line-height: 30px;
    width: 410px;
    margin-bottom: 35px;
  }
  &__btn{
    @extend %btn;
    text-transform: uppercase;
    border: none;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
    display: none;
  }
  &__btn--active{
    display: block;
  }
  &__choose{
    display: flex;
    align-items: center;
    
    gap: 10px;
  }
  &__link {
    display: block;
    width: 50px;
    height: 50px;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    background-color: #fff;
    display: flex;
    align-items: center;
   justify-content: center;
  }
  &__link--active{
    background-color: #a3bac7;
    path{
      fill: #fff;
    }
  }



}

.pagination-list-two{
  text-align-last: left;
  padding-top: 60px;
}





@import 'media';