@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';



.header {
  padding: 50px 0 45px;
  width: 1800px;
  margin: 0 auto;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;

  & p {
    padding-left: 15px;
    color: $accent;
    font-size: 36px;
    line-height: 58px;
    @extend %rubik-500;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item+.menu__list-item {
    padding-left: 30px;
  }

  &__list-link {
    font-size: 15px;
    line-height: 12px;
    color: $accent;
    @extend %rubik-400;
  }
}

ul.menu__list {
  padding-left: 150px;
}




.user-nav {
  display: flex;
  gap: 25px;

  &__link {
    position: relative;
    margin: 0 auto;
  }

  &__num {
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #fff;
    top: -5px;
    right: -6px;
    font-size: 10px;
    color: #000;
    text-align: center;
    line-height: 11px;
    @extend %dmsans-400;

  }

  &__both {
    display: flex;
    align-items: center;
    width: 178px;
    height: 52px;
    background-color: #fcd7b6;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  &__1 {
    display: flex;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #edf1f4;

  }

  &__3 {
    border-left: 1px solid #fde7d3;
  }

  &__4 {
    display: flex;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #a3bbc8;
  }

}






.footer {
  padding-top: 75px;
}

.footer-top {
  border-bottom: 1px solid #dae4e9;
  display: flex;
  padding-bottom: 75px;

  &__item {}

  &__contact {
    width: 290px;
    margin-right: 110px;
  }

  &__nav {
    width: 270px;
    margin-right: 100px;
  }

  &__form {
    max-width: 300px
  }

  &__logo {
    margin-bottom: 28px;
  }

  &__title {
    margin-bottom: 35px;
    color: #1f2044;
    font-size: 16px;
    line-height: 21px;
    @extend %dmsans-700;
    padding-top: 24px;

  }

  &__adress,
  &__email,
  &__phone {
    margin-bottom: 10px;
    display: block;

  }

  &__link {
    margin-bottom: 4px;
    display: block;
  }

  &__text {
    color: $text;
    @extend %rubik-500;
    line-height: 24px;
    margin-bottom: 31px;
  }

  &__form-input {
    background-color: #fef7f0;
    max-width: 170px;
    width: 100%;
    border: none;
    padding: 10px;
    &::placeholder{
      color: #234969;
      font-size: 12px;
    }
  }

  &__form-btn {
    border: none;
    padding: 10px;
    color: #fff;
    background-color: #234969;
    cursor: pointer;
  }
}

.footer-bottom{
  padding: 20px 0 20px;
  display: flex;
  justify-content: space-between;
  &__copy{
    color:  $text;
  }
  &__nav{
    display: flex;
    gap: 20px;
  }
  &__link{
    border-left: 1px solid #7b7b7b;
  }
}














@import 'media';